body {
     margin: 0;
     padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
} 
iframe {
    display: block;
    width: 100%;
    height: auto;
    border: none;

}
.content_box {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 50px;
    height: 100%;
    box-sizing: border-box;
    position: relative; 
}
.item_box{
    
}