/* community */
.main_community ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main_community li {
    display: inline-block;
}

.main_community img {
    width: 700px;
    height: auto;
    display: block;
    object-fit: contain;
}