/* T1 OFFICIAL UNIFORM */
.main_unlform {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 50px; 
}


.main_item_box {
    width: 700px;
    height: 450px;
    box-sizing: border-box;
    
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;

    background-image: url('../img/banner_img/uniform_main_image03.jpeg');
    background-size: 130%; 
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease; 
    overflow: hidden;
}

/* 메인 아이템 반복 */
.main_item_box .title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
}

.main_item_box .text {
    color: white;
    font-size: 13px;
    margin-bottom: 25px;  
}

.main_item_box .icon {
    position: absolute;  
    bottom: 25px; 
    right: 20px; 

    transition: transform 0.3s ease; 
}

.main_item_box .icon img {
    width: 85px; 
    height: auto;
}


/* Products container */
.products_container {
    display: flex;
    overflow-x: auto;
    /* gap: 15px; */
    scroll-behavior: smooth;
    position: relative;

}

/* Custom scrollbar */
.products_container::-webkit-scrollbar {
    height: 2px;
}

.products_container::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.products_container::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 1px;
}
/* Navigation arrows */
/* .nav_arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    pointer-events: none;
}

.arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.arrow.disabled {
    color: #666;
    cursor: default;
} */


/* 호버 */
.main_item_box:hover {
    background-size: 140%;
}
.main_item_box:hover:after {
    width: 100%;
    left: 0;
}
.main_item_box:hover .icon {
    transform: translateX(10px);
}